services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: cc-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Your_password123
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD", "/opt/mssql-tools18/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "Your_password123", "-Q", "SELECT 1", "-C"]
      interval: 10s
      timeout: 5s
      retries: 10
